/*Home page*/
.jumbotron {
  background: linear-gradient(300deg, #FF6D24, #4E413B, #857671);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Applied to all pages*/
body {
background-color: #423F3E;
color: white;
font-family: 'Roboto Mono', monospace;
h1 {
  font-family: 'Sacramento', cursive;
}
}

a {
    color: #ffc107;
    text-decoration: none;
}

/*Form for the add.html*/
#form {
  display: inline-grid;
  width: 400px;
  margin: auto;
}

label {
  font-weight: bold;
  padding: 5px 0;
}

/*Buttons on every page*/
.btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*Add and Edit buttons*/
#btn {
  width: 111px;
}

/* Cafes list: center headers vertically and horizontally*/
.table thead th {
  text-align: left;
  vertical-align:baseline;
  padding: 15px;
}

/*Text doesn't wrap over several lines*/
.table td {
  white-space: nowrap;
}

/*Background color on hover for the cafes.html table*/
.table-dark {
  --bs-table-bg: #212529;
  --bs-table-hover-color: #FF6D24;
}

.table tr:hover {
  font-weight: bold;
}

.table tr:hover .btn {
  font-weight: bold;
  color: black;
}

.table tr:hover a {
  font-weight: bold;
  color: #FF6D24;
}
