{% extends 'base.html' %}
{% block content %}
<div class="bg-container">
<header class="d-flex justify-content-center py-3">
  <span>Cafe Crawl</span>
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">About</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
    <li class="nav-item"><a href="{{url_for('logout')}}" class="nav-link">Log out</a></li>
  </ul>
</header>
<h3 class="title">Hi <span>{{name.title()}}!</span></h3>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
	    <table class="table table-hover table-dark table-striped table-responsive d-block d-lg-table">
        <thead>
          <tr>
            <th class="multiline-column">Cafe</th>
            <th>City</th>
            <th class="multiline-column">Location (URL)</th>
            <th>Opening hours</th>
            <th>Closing days</th>
            <th>Sweets rating</th>
            <th>Coffee rating</th>
            <th>Wifi strength</th>
            <th>Power socket availability</th>
          </tr>
        </thead>  
        <tbody>
            {% if cafes_list == [] %}
          <tr>
            <td colspan="11">
            <p>This list is empty.<br>Add a new cafe!</p>
            </td>
          </tr>
            {% endif %}
            {% for cafe in cafes_list %}
              <tr>
                <td class="multiline-column">{{ cafe.cafe }}</td>
                <td>{{ cafe.city }}</td>
                <td class="multiline-column">
                {% if cafe.location.startswith('http') %}
                  <a id="map" href="{{ cafe.location }}" target="_blank" rel="noopener noreferrer">
                  Google Map</a>
                {% else %}
                  <p>Location not found</p>
                {% endif %}
                </td>
                <td>{{ cafe.open_hours }}</td>
                <td class="multiline-column">{{ cafe.closed }}</td>
                <td>{{ cafe.sweets }}</td>
                <td>{{ cafe.coffee }}</td>
                <td>{{ cafe.wifi }}</td>
                <td>{{ cafe.power }}</td>
                <td>
                  <a class="btn btn-warning btn-m" href="{{ url_for('edit', id=cafe.id) }}">
                    Edit</a>
                    {% if current_user.is_authenticated and current_user.is_admin %}
                    <a class="btn btn-warning btn-m" href="{{ url_for('delete', id=cafe.id) }}">
                    Delete</a>
                    {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
  	  </table>
      <a class="btn btn-warning btn-m" href="{{ url_for('add') }}">
        ➕ Add a new cafe</a>
      <a class="btn btn-warning btn-m" href="{{ url_for('home') }}">
        🔙 Return to home page</a>
    </div>
  </div>
</div>
</div>
{% endblock %}
