{% extends 'base.html' %}
{% block content %}
<div class="home-container">
<header class="d-flex justify-content-center py-3">
  <span>Cafe Crawl</span>
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link active" aria-current="page">About</a></li>
    <li class="nav-item"><a href="{{url_for('contact')}}" class="nav-link">Contact</a></li>
    {% if not logged_in %}
    <li class="nav-item"><a href="{{url_for('login')}}" class="nav-link">Login</a></li>
    <li class="nav-item"><a href="{{url_for('register')}}" class="nav-link">Register</a></li>
    {% else %}
    <li class="nav-item"><a href="{{url_for('logout')}}" class="nav-link">Log out</a></li>
    {% endif %}
    </ul>
</header>
  <div class="flex-container">
    <h1>☕️ Coffee & Wifi 💻</h1>
      <h3>🚴🏻‍♂️Went for a ride and find yourself urgently in need 
      of coffee, power, and sweets?🧁</h3>
      <p>You've found the right place! Checkout my collection of cafes with data on 
          power socket availability, wifi speed, coffee and sweets quality</p>
      {% if logged_in %}
      <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">Show me the cafes</a>
      {% endif %}
  </div>
</div>
{% endblock %}
